@font-face {
    font-family: 'Beer';
    src: local('beer money'), local('beermoney'), url('font/beermoney.woff2') format('woff2'), url('font/beermoney.woff') format('woff'), url('font/beermoney.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.love {
    display: block;
    width: 173px;
    height: 51px;
    background-image: url(/img/logo.png);

}
.main {
    background-color: white;
}

#mainpage {
	color: red;
	text-decoration: none;
}
.logo a{
    height: 51px;
}
.logo h1 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: Beer;
    font-weight: normal;
    opacity: 0.7;
	width: 160px;
	text-align: center;
}
.logo h1 a {
    color: #4b4b4b;
}

.menu {
    font-size: 25px;
    font-family: Beer;
    padding-left: 5%;
}

.menu:visited {
	text-decoration: none;
}
.menu:hover {
	text-decoration: none;
	color:red;
	
}


.greeting {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #b9b9b9;
    font-style: italic;
    font-size: 14px;
}
.greeting span {
    font-size: 26px;
    color: #313131;
}
.greeting_p {
    font-size: 26px;
    color: #909090;
}
.highlighted {
    font-size: 14px!important;
    color: #313131;
}


.big_text {
    border-bottom: 1px solid #e8e8e8;
    padding-top: 25px;
    padding-bottom: 17px;
    color: #444;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}
.small_text{
    font-size: 14px;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}
.link {
    display: inline-block;
    height: 34px;
    width: 96px;
    background-image: url(../img_2/sprites.jpg);
    background-position: -661px -549px;
    transition: 0.5s ease;
}
.link:hover {
    background-image: url(../img_2/sprites.jpg);
    background-position: -661px -584px;
    transition: 0.5s ease;
}

.before-footer {
    height: 4px;
    background: url(../img_2/back-footer.jpg);
}
.before-footer::before {
	content: "";
    height: 4px;
    background: url(../img_2/before-footer.jpg);
	width: 50%;
	position: absolute;
	margin-left: 25%;
}


.follow_us {
	margin-top: 30px;
    text-align: center;
    font-size: 38px;
    line-height: 26px;
    color: #3e3e3e;
    font-weight: normal;
    font-family: Beer;
}
.follow_img {
    text-align: center;
	margin-top: 20px;
}

.follow_img a {
    display: inline-block;
    width: 38px;
    height: 37px;
}
.link1 {
    background: url(/img/socials.png) no-repeat;
    background-position: 0px 0px;
    transition: 0.5s ease;
	border-radius: 22px;
	z-index: 1;
}
.link1:hover:before {
	content: '';
	position: absolute;
	width: 28px;
	height:28px;
    background-color: black;
    transition: 0.5s ease;
	z-index: -999999999;
	margin:4px 0px 0px -13px;
	border-radius: 20px;
}
.link2 {
    background: url(/img/socials.png) no-repeat;
    background-position: -38px 0px;
    transition: 0.5s ease;
 }
.link2:hover:before {
	content: '';
	position: absolute;
	width: 28px;
	height:28px;
    background-color: black;
    transition: 0.5s ease;
	z-index: -999999999;
	margin:4px 0px 0px -13px;
	border-radius: 20px;
}
.link3 {
    background: url(/img/socials.png) no-repeat;
    background-position: -76px 0px;
    transition: 0.5s ease;
}
.link3:hover:before {
	content: '';
	position: absolute;
	width: 28px;
	height:28px;
    background-color: black;
    transition: 0.5s ease;
	z-index: -999999999;
	margin:4px 0px 0px -13px;
	border-radius: 20px;
}
.link4 {
    background: url(/img/socials.png) no-repeat;
    background-position: -114px 0px;
    transition: 0.5s ease;
}
.link4:hover:before {
	content: '';
	position: absolute;
	width: 28px;
	height:28px;
    background-color: black;
    transition: 0.5s ease;
	z-index: -999999999;
	margin:4px 0px 0px -13px;
	border-radius: 20px;
}
.privacy{
    padding-top: 30px;
    text-align: center;
    font-family: Beer;
    font-size: 18px;
    color: #727272;
}

.heart {
    display: inline-block;
    width: 12px;
    height: 9px;
    background-image: url(../img_2/sprites.jpg);
    background-position: 0px -1323px;

}


.margin {
	margin-top: 41px;
	
}

.margin2 {
	margin-top: 20px;

	
}
.margin3 {
	margin-top: 100px;
	display: inline-block;
	float: left;
	margin-left: 10px;
	box-shadow: 1px 4px 1px #519DAE;
	border: 1px solid #519DAE;
	-webkit-user-select: none;
	text-align: center;
	width: 60px;
	height: 25px;
	border-radius: 20px;
	cursor: pointer;
	line-height: 1.4em;
	transition: .5s linear;
	margin-bottom: 70px;
}

.margin4 {
	margin-top: 30px;
}

.imgcats {
	height: 339px;
}
.table {
	border: none;
}
.view-animate-container {
  position:relative;
  background:white;
  overflow:hidden;
}



.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  display:block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:0px 10px 0px 10px;
}

.view-animate.ng-enter {
  left:100%;

  
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

#animate{
	min-height: 1000px;
}
.hover2 {
	overflow: hidden;
	height: 282px;
	cursor: pointer;
}
#slide {
	transition:0.9s;
	opacity: 1;
}
.circle {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 10px;
    background-color: rgb(51,122,183);
    margin-left: 12%;
	cursor: pointer;	
}
.border {
	position: absolute;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	border: 3px solid rgb(51,122,183);
	margin: -4px 0px 0px -4px;
	display: none;
}
.marginleft {
	margin-left: 4%;
}
.menu-xs {
	width: 30px;
	height: 30px;
	background: transparent;
	margin: auto;
	margin-top: 13px;
	cursor: pointer;
	margin-bottom:13px;
}
.menu-decoration {
	position: absolute;
	height: 4px;
	width: 30px;
	border-radius: 10px;
	background-color: #00CD73 ;
	margin-top: 3px;
	cursor: pointer;
}
.menu-decoration:after {
	content: '';
	position: absolute;
	height: 4px;
	width: 30px;
	border-radius: 10px;
	background-color: #524FFC ;
	margin-top: 9px;
	cursor: pointer;
}
.menu-decoration:before {
	content: '';
	position: absolute;
	height: 4px;
	width: 30px;
	border-radius: 10px;
	background-color: #FEF201 ;
	margin-top: 18px;
	cursor: pointer;
}
.logoxs {
	height: 25px;
	margin-top: 14px;
	padding-left: 10px;
}
.panelxs {
	width: 100%;
	height: 56px;
	position: fixed;
	z-index:2;
	background-color: #5995DD; 
	box-shadow: 0px 1px 5px black;
}
#modalmenu {
	position: fixed;
	margin-top:56px;
	z-index:1;
	transition: all 0.5s;
	left: -225px;
}
.tdxs {
	background-color: #5995DD; 
	width: 240px;
	height: 60px;
	font-family: Beer;
	font-size: 24px;
	cursor: pointer;
	color: white;
}

.tdxs:hover {
	background-color: rgb(0,203,239) ;
}

#buttonpag {
	margin-top: 80px;
	width: 100%;
}

.galery {
	position: absolute;
	margin-top: 40%;
	font-family: Beer;
	color: #F0592A;
	font-size: 50px;
	font-weight: bold;
	
}
.contacts {
	margin-top: 50px;
	margin-bottom: 40px;
	font-family: Beer;
	color: #F0592A;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}


.error404 {
	background: url(../img/error.jpg) no-repeat;
	height:  400px;

}

.error_message h3 {
	position: absolute;
	margin-top:  230px;
	margin-left: 30px;
	font-size: 24px;
	font-weight: bold;
	color:  red;
}

.error_message_mobile h2 {
	font-weight: bold;
	font-size: 25px;
	color:  red;
	height:  300px;
	text-align: center;
	margin-top: 200px;
}

